#header.active {
  color: var(--fontBlack_title);
  background: transparent;
}
#main {
  #visual {
    height: 400vh;
    .inner {
      width: 100%;
      height: 100vh;
      position: sticky;
      left: 0;
      top: 0;
      .txtBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transition: 1s;
        opacity: 0;
        filter: blur(20px);
        transform: scale(0.8);
        &.txt01 {
          opacity: 1;
          filter: blur(0px);
          transform: scale(1);
        }
        &.txt03 {
          img {
            width: 127px;
            height: 95px;
            margin-bottom: 40px;
            object-fit: contain;
          }
        }
        .title {
          font-size: 60px;
          line-height: 70px;
          font-family: "Lohas_l";
          letter-spacing: -1.2px;
          font-weight: 400;
          text-align: center;
          b {
            display: block;
            font-size: 76px;
            font-family: "Lohas_b";
            line-height: 88px;
            letter-spacing: -1.52px;
            padding-top: 12px;
          }
        }
      }
      .scroll_icon {
        transition: opacity 0.5s;
      }
    }
  }
  #con1 {
    height: 400vh;
    .inner {
      width: 100%;
      height: 100vh;
      position: sticky;
      left: 0;
      top: 0;
      z-index: 1;
      .bg {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url(../images/brand/bg_brand_sec2.jpg);
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
        transition: all 0.5s;
      }
      .txtBox {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        transition: all 1s;
        opacity: 0;
        filter: blur(20px);
        transform: scale(0.8);
        &.txt01 {
          opacity: 1;
          filter: blur(0);
          transform: scale(1);
          .title {
            font-size: 60px;
            line-height: 70px;
            font-family: "Lohas_l";
            letter-spacing: -1.2px;
            b {
              display: block;
              padding-top: 12px;
              font-size: 76px;
              line-height: 88px;
              font-family: "Lohas_b";
              letter-spacing: 1.52px;
              span {
                font-family: inherit;
              }
            }
          }
        }
        &.txt02 {
          p {
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1.4px;
            span {
              font-family: "Lohas_b";
            }
            &:not(:first-child) {
              padding-top: 20px;
            }
          }
        }
        &.txt03 {
          p {
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1.4px;
            &:not(:first-child) {
              padding-top: 20px;
            }
          }
          b {
            padding-top: 40px;
            font-size: 36px;
            line-height: 40px;
            font-family: "Lohas_b";
            letter-spacing: -1.8px;
          }
        }
      }
    }
  }
  #con2 {
    height: 400vh;
    .inner {
      width: 100%;
      height: 100vh;
      position: sticky;
      left: 0;
      top: 0;
      z-index: 1;
      .bg {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url(../images/brand/bg_brand_sec3.jpg);
        background-repeat: no-repeat;
        background-position: center 100%;
        background-size: cover;
        transition: all 0.5s;
      }
      .txtBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transition: all 1s;
        opacity: 0;
        // filter: blur(20px);
        // transform: scale(0.8);
        &.txt01 {
          opacity: 1;
          filter: blur(0);
          transform: scale(1);
          .title {
            font-size: 60px;
            line-height: 70px;
            font-family: "Lohas_l";
            letter-spacing: -1.2px;
            b {
              display: block;
              padding-top: 12px;
              font-size: 76px;
              line-height: 88px;
              font-family: "Lohas_b";
              letter-spacing: 1.52px;
              span {
                font-family: inherit;
              }
            }
          }
        }
        &.txt02 {
          p {
            font-size: 28px;
            font-weight: 400;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1.4px;
            span {
              font-family: "Lohas_b";
            }
            &:not(:first-child) {
              padding-top: 20px;
            }
          }
        }
        &.txt03 {
          p {
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1.4px;
            &:not(:first-child) {
              padding-top: 20px;
            }
          }
          b {
            padding-top: 10px;
            font-size: 36px;
            line-height: 40px;
            font-family: "Lohas_b";
            letter-spacing: -1.8px;
          }
        }
      }
    }
  }
  #con3 {
    height: 400vh;
    .inner {
      width: 100%;
      height: 100vh;
      position: sticky;
      left: 0;
      top: 0;
      z-index: 1;
      .bg {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url(../images/brand/bg_brand_sec4_1.jpg);
        background-repeat: no-repeat;
        background-position: center 100%;
        background-size: cover;
        transition: all 1s;
      }
      .txtBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transition: all 1s;
        opacity: 0;
        &.txt01 {
          opacity: 1;
          text-align: center;
          align-items: center;
          left: 0;
          right: 0;
          .title {
            font-size: 60px;
            line-height: 70px;
            font-family: "Lohas_l";
            letter-spacing: -1.2px;
            b {
              display: block;
              padding-top: 12px;
              font-size: 76px;
              line-height: 88px;
              font-family: "Lohas_b";
              letter-spacing: -1.52px;
              span {
                font-family: inherit;
              }
            }
          }
          p.txt {
            padding-top: 4px;
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1, 4px;
          }
        }
        &.txt02 {
          padding-left: 96px;
          .title {
            font-size: 60px;
            line-height: 70px;
            font-family: "Lohas_l";
            letter-spacing: -1.2px;
            b {
              display: block;
              padding-top: 12px;
              font-size: 76px;
              line-height: 88px;
              font-family: "Lohas_b";
              letter-spacing: -1.52px;
              span {
                font-family: inherit;
              }
            }
          }
          p.txt {
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1.4px;
            span.fColor_blue {
              font-family: "Lohas_b";
            }
          }
        }
        &.txt03 {
          text-align: right;
          left: auto;
          right: 50%;
          padding-right: 96px;
          .title {
            font-size: 60px;
            line-height: 70px;
            font-family: "Lohas_l";
            letter-spacing: -1.2px;
            b {
              display: block;
              padding-top: 12px;
              font-size: 76px;
              line-height: 88px;
              font-family: "Lohas_b";
              letter-spacing: -1.52px;
              span {
                font-family: inherit;
              }
            }
          }
          p.txt {
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1.4px;
            span.fColor_blue {
              font-family: "Lohas_b";
            }
          }
        }
      }
    }
  }
  #con4 {
    height: 400vh;
    .inner {
      width: 100%;
      height: 100vh;
      position: sticky;
      left: 0;
      top: 0;
      z-index: 1;
      .bg {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url(../images/brand/bg_brand_sec5.jpg);
        background-repeat: no-repeat;
        background-size: 209% auto;
        background-position: 28% 33%;
        transition: all 1s;
      }
      .txtBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transition: all 1s;
        opacity: 0;
        &.txt01 {
          opacity: 1;
          text-align: center;
          align-items: center;
          left: 0;
          right: 0;
          .title {
            font-size: 60px;
            line-height: 70px;
            font-family: "Lohas_l";
            letter-spacing: -1.2px;
            b {
              display: block;
              padding-top: 12px;
              font-size: 76px;
              line-height: 88px;
              font-family: "Lohas_b";
              letter-spacing: -1.52px;
              span {
                font-family: inherit;
              }
            }
          }
          p.txt {
            padding-top: 4px;
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1, 4px;
          }
        }
        &.txt02 {
          align-items: center;
          text-align: center;
          left: 0;
          right: 0;
          .title {
            font-size: 60px;
            line-height: 70px;
            font-family: "Lohas_l";
            letter-spacing: -1.2px;
            b {
              display: block;
              padding-top: 12px;
              font-size: 76px;
              line-height: 88px;
              font-family: "Lohas_b";
              letter-spacing: -1.52px;
              span {
                font-family: inherit;
              }
            }
          }
          p.txt {
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1.4px;
            span.fColor_blue {
              font-family: "Lohas_b";
            }
          }
        }
        &.txt03 {
          width: 100%;
          flex-direction: row;
          align-items: center;
          left: 0;
          .con3Logo {
            width: 50%;
            height: 221px;
            margin-top: 9px;
            box-sizing: border-box;
            background-image: url(../images/brand/logo_brand_sec5.png);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 77% center;
          }
          .text_wrap {
            width: 50%;
            padding-left: 96px;
            p.txt {
              font-size: 28px;
              line-height: 38px;
              font-family: "Lohas_m";
              letter-spacing: -1.4px;
              &:not(:first-child) {
                padding-top: 40px;
              }
              span.fColor_blue {
                font-family: "Lohas_b";
              }
            }
          }
        }
      }
    }
  }
  #con5 {
    height: 400vh;
    .inner {
      width: 100%;
      height: 100vh;
      position: sticky;
      left: 0;
      top: 0;
      z-index: 1;
      .bg {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url(../images/brand/bg_brand_sec6.jpg);
        background-repeat: no-repeat;
        background-size: 135% auto;
        background-position: 55% 17%;
        transition: all 1s;
      }
      .txtBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        transition: all 1s;
        opacity: 0;
        &.txt01 {
          opacity: 1;
          text-align: center;
          align-items: center;
          left: 0;
          right: 0;
          .title {
            font-size: 36px;
            line-height: 40px;
            font-family: "Lohas_b";
            letter-spacing: -1.8px;
            &::before {
              content: "";
              display: block;
              width: 321px;
              height: 175px;
              margin: 0 auto 52px;
              background: url(../images/brand/logo_brand_sec6.png) no-repeat center;
            }
            b {
              display: block;
              padding-top: 12px;
              font-size: 48px;
              line-height: 59px;
              font-family: "Lohas_b";
              letter-spacing: -1.44px;
            }
          }
          p.txt {
            padding-top: 4px;
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1, 4px;
          }
        }
        &.txt02 {
          align-items: center;
          text-align: center;

          .title {
            padding-top: 20px;
            font-size: 36px;
            line-height: 40px;
            font-family: "Lohas_b";
            letter-spacing: -1.8px;
          }
          p.txt {
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1.4px;
          }
        }
        &.txt03 {
          text-align: center;
          p.txt {
            font-size: 28px;
            line-height: 38px;
            font-family: "Lohas_m";
            letter-spacing: -1.4px;
          }
          h3.title {
            padding-top: 20px;
            font-size: 36px;
            line-height: 40px;
            font-family: "Lohas_b";
            letter-spacing: -1.8px;
          }
          button.saemmulPage_btn {
            width: 266px;
            text-align: center;
            margin: 0 auto;
            margin-top: 60px;
            a {
              display: inline-block;
              width: 100%;
              height: 64px;
              line-height: 64px;
              background-color: var(--mainColor_blue);
              color: #fff;
              font-size: 18px;
              font-weight: 500;
              letter-spacing: -0.9px;
              border-radius: 999px;
            }
          }
        }
      }
    }
  }
}
